Fibonacci Series upto 10 terms

In [4]:
a, b = 0, 1
for x in range(10):
    print(a)
    a, b = b, a + b #swapping

0
1
1
2
3
5
8
13
21
34

numbers at the odd indices of a list

In [12]:
list1=[]
for i in range(10):
  list1.append(i)

In [13]:
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
list1[1:10:2]

[1, 3, 5, 7, 9]

list in reverse order

In [16]:
list1[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

count the number of different words

In [21]:
string=input()
string.lower()
words=string.split()
unique=set(words)
count=len(unique)
count

ChatGPT has created this text to provide tips on creating interesting paragraphs.  	First, start with a clear topic sentence that introduces the main idea.  	Then, support the topic sentence with specific details, examples, and evidence. 	Vary the sentence length and structure to keep the reader engaged. 	Finally, end with a strong concluding sentence that summarizes the main points. 	Remember, practice makes perfect!

47

Write a function that takes a word as an argument and returns the number of vowels in the word

In [25]:
def num_vowels(word):
  vowels=set("aeiouAEIOU")
  count=0
  for char in word:
    if char in vowels:
      count+=1
  return count

num_vowels("akanksha")

3

Iterate through the following list of animals and print each one in all caps.

In [29]:
animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']
for x in animals:
  y=x.upper()
  print(y)

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

Iterate from 1 to 15, printing whether the number is odd or even

In [31]:
for x in range(1,16):
  if x%2==0:
    print(x, "even")
  else:
    print(x, "odd")

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even
11 odd
12 even
13 odd
14 even
15 odd

Take two integers as input from user and return the sum

In [34]:
int1=int(input("integer 1: "))
int2=int(input("integer 2: "))
sum=int1+int2
sum

integer 1: 25
integer 2: 86

111